<div class="container">
    <div class="jumbotron">
    <h1 class="display-4">About this App</h1>
    <p class="lead">This is a simple app for making creating todo-lists for your day to day tasks.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis hic a commodi itaque aliquam quo minus error est sapiente voluptates consequatur omnis eligendi incidunt, quaerat qui. Laudantium cum debitis quis omnis, culpa qui excepturi hic ad dolorem assumenda sunt deserunt animi nesciunt ipsa quisquam molestiae quam odio esse suscipit. Perferendis?</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div></div>